<h1 data-sourcepos="1:1-3:0">L12 - Control flows</h1>
<p data-sourcepos="4:1-4:59">This lecture is about the constructs for control flow in C.</p>
<h2 data-sourcepos="8:1-10:0">
    <a id="user-content-prepare-yourself" class="anchor" href="#prepare-yourself" aria-hidden="true"></a>Prepare yourself
</h2>
<p data-sourcepos="11:1-11:78">You may prepare yourself by reviewing the last years slides from this session.</p>
<ul data-sourcepos="13:1-16:0">
    <li data-sourcepos="13:1-16:0">
        <a href="https://hkr.instructure.com/courses/3659/files/616051?wrap=1" target="_blank" rel="noopener">Lecture 12 Control Flows</a>
    </li>
</ul>
<h2 data-sourcepos="17:1-19:0">
    <a id="user-content-recorded-lecture" class="anchor" href="#recorded-lecture" aria-hidden="true"></a>Recorded lecture
</h2>
<p data-sourcepos="20:1-20:60">There will be a prerecorded lecture which you should review.</p>
<p>The Swedish version.</p>
<p>
    <iframe style="width: 640px; height: 480px;" src="https://www.youtube.com/embed/mmwe07webtc?feature=oembed&amp;rel=0" width="640" height="480" allowfullscreen="allowfullscreen" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allow="geolocation *; microphone *; camera *; midi *; encrypted-media *; autoplay *"></iframe>
</p>
<p>The English version.</p>
<p>
    <iframe style="width: 640px; height: 480px;" src="https://www.youtube.com/embed/18BoKvcoQ6g?feature=oembed&amp;rel=0" width="640" height="480" allowfullscreen="allowfullscreen" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allow="geolocation *; microphone *; camera *; midi *; encrypted-media *; autoplay *"></iframe>
</p>
<p>You can review <a class="instructure_file_link inline_disabled" href="https://mikael-roos.gitlab.io/c-programming-exercise/lecture/L05-control-flows/slide.html" target="_blank" rel="noopener">the slides used in the lecture</a>.</p>
<h2 data-sourcepos="26:1-28:0">
    <a id="user-content-read-study" class="anchor" href="#read-study" aria-hidden="true"></a>Read &amp; Study
</h2>
<p data-sourcepos="29:1-29:63">You should read up on the following to complement the lectures.</p>
<ul data-sourcepos="31:1-39:0">
    <li data-sourcepos="31:1-33:0">
        <p data-sourcepos="31:3-31:80">Read and study the following chapter in the book "The C programming language".</p>
        <ul data-sourcepos="32:5-33:0">
            <li data-sourcepos="32:5-33:0">Ch 3 - Control flow</li>
        </ul>
    </li>
    <li data-sourcepos="34:1-39:0">
        <p data-sourcepos="34:3-34:178">The playlist <a href="https://www.youtube.com/playlist?list=PL6gx4Cwl9DGAKIXv8Yr6nhGJ9Vlcjyymq" target="_blank" rel="noopener">"C Programming Tutorials"</a> has a selection of video tutorials suitable for this session.</p>
        <ul data-sourcepos="35:5-39:0">
            <li data-sourcepos="35:5-35:50">Video number: 17, 18, 19, 20, 21, 22, 23, 31</li>
            <li data-sourcepos="36:5-39:0">Video number: 25, 26, 27, 28, 29, 30</li>
        </ul>
    </li>
</ul>
<p>&nbsp;</p>
<h2 data-sourcepos="40:1-42:0">
    <a id="user-content-exercise" class="anchor" href="#exercise" aria-hidden="true"></a>
</h2>
<h2 data-sourcepos="35:1-37:0">Homework &amp; code samples</h2>
<p data-sourcepos="38:1-38:60">There is a set of<span>&nbsp;</span>
    <a class="instructure_file_link inline_disabled external" href="https://gitlab.com/mikael-roos/c-programming-exercise/-/tree/master/src/L05" target="_blank" rel="noopener"> useful code samples and an instruction for Homework &nbsp;(Links to an external site.) </a>
    <span>&nbsp;</span>you should do to ensure that you understand the basics of the matter discussed in the lecture.
</p>
