<h1 data-sourcepos="1:1-3:0">L11 - Basic C</h1>
<p data-sourcepos="4:1-4:104">This lecture is about the basics in C with variables, datatypes, input/output and arithmetic expression.</p>
<h2 data-sourcepos="8:1-10:0">
    <a id="user-content-prepare-yourself" class="anchor" href="#prepare-yourself" aria-hidden="true"></a>Prepare yourself
</h2>
<p data-sourcepos="11:1-11:78">You may prepare yourself by reviewing the last years slides from this session.</p>
<ul data-sourcepos="13:1-17:0">
    <li data-sourcepos="13:1-13:115">
        <a href="https://hkr.instructure.com/courses/3659/files/616045?wrap=1" target="_blank" rel="noopener">Lecture 11 Basic C (short version with 34 slides)</a>
    </li>
    <li data-sourcepos="14:1-17:0">
        <a href="https://hkr.instructure.com/courses/3659/files/616048?wrap=1" target="_blank" rel="noopener">Lecture 11 Basic C (long version with 64 slides)</a>
    </li>
</ul>
<h2 data-sourcepos="18:1-20:0">
    <a id="user-content-recorded-lecture" class="anchor" href="#recorded-lecture" aria-hidden="true"></a>Recorded lecture
</h2>
<p data-sourcepos="21:1-21:60">There will be a prerecorded lecture which you should review.</p>
<p>The Swedish version.</p>
<p>
    <iframe style="width: 640px; height: 480px;" src="https://www.youtube.com/embed/As79Tzyaz7w?feature=oembed&amp;rel=0" width="640" height="480" allowfullscreen="allowfullscreen" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allow="geolocation *; microphone *; camera *; midi *; encrypted-media *; autoplay *"></iframe>
</p>
<p>The English version.</p>
<p>
    <iframe style="width: 640px; height: 480px;" src="https://www.youtube.com/embed/9ONxgG0SBmk?feature=oembed&amp;rel=0" width="640" height="480" allowfullscreen="allowfullscreen" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allow="geolocation *; microphone *; camera *; midi *; encrypted-media *; autoplay *"></iframe>
</p>
<p>You can review <a class="instructure_file_link inline_disabled" href="https://mikael-roos.gitlab.io/c-programming-exercise/lecture/L04-types-operators-expressions/slide.html" target="_blank" rel="noopener">the slides used in the lecture</a>.</p>
<h2 data-sourcepos="27:1-29:0">
    <a id="user-content-read-study" class="anchor" href="#read-study" aria-hidden="true"></a>Read &amp; Study
</h2>
<p data-sourcepos="30:1-30:63">You should read up on the following to complement the lectures.</p>
<ul data-sourcepos="32:1-43:0">
    <li data-sourcepos="32:1-34:0">
        <p data-sourcepos="32:3-32:80">Read and study the following chapter in the book "The C programming language".</p>
        <ul data-sourcepos="33:5-34:0">
            <li data-sourcepos="33:5-34:0">Ch 2 - Types, Operators, and Expressions</li>
        </ul>
    </li>
    <li data-sourcepos="35:1-37:0">
        <p data-sourcepos="35:3-35:178">The playlist <a href="https://www.youtube.com/playlist?list=PL6gx4Cwl9DGAKIXv8Yr6nhGJ9Vlcjyymq" target="_blank" rel="noopener">"C Programming Tutorials"</a> has a selection of video tutorials suitable for this session.</p>
        <ul data-sourcepos="36:5-37:0">
            <li data-sourcepos="36:5-37:0">Video number: 4, 7, 11</li>
        </ul>
    </li>
    <li data-sourcepos="38:1-39:0">
        <p data-sourcepos="38:3-38:166">View the video <a href="https://www.youtube.com/watch?v=xOIVXR35aI4" target="_blank" rel="noopener">"Input and Output: Printf and Scanf - C Programming Tutorial 06"</a> (17 min) for a more detailed example.</p>
    </li>
    <li data-sourcepos="40:1-43:0">
        <p data-sourcepos="40:3-40:193">View the video <a href="https://www.youtube.com/watch?v=vvpDbhqPrww&amp;list=PL2_aWCzGMAwLSqGsERZGXGkA5AfMhcknE&amp;index=8" target="_blank" rel="noopener">"Using Arithmetic Operators - C Programming Tutorial 07"</a> (16 min) for an example.</p>
    </li>
</ul>
<p>&nbsp;</p>
<h2 data-sourcepos="35:1-37:0">Homework &amp; code samples</h2>
<p data-sourcepos="38:1-38:60">There is a set of <a class="instructure_file_link inline_disabled" href="https://gitlab.com/mikael-roos/c-programming-exercise/-/tree/master/src/L04" target="_blank" rel="noopener">useful code samples and an instruction for Homework</a> you should do to ensure that you understand the basics of the matter discussed in the lecture.</p>
<p data-sourcepos="51:1-51:185">&nbsp;</p>
