<h1 data-sourcepos="1:1-3:0">L10 - Algorithms, representation and development</h1>
<p data-sourcepos="4:1-4:82">This lecture about designing a program by designing and implementing an algorithm.</p>
<p data-sourcepos="6:1-6:112">Programming can be viewed as the process of designing and implementing algorithms that a computer can carry out.</p>
<p data-sourcepos="8:1-8:27">A programmer&rsquo;s job is to:</p>
<ol data-sourcepos="10:1-14:0">
    <li data-sourcepos="10:1-10:58">Create an algorithm for accomplishing a given objective</li>
    <li data-sourcepos="11:1-14:0">Translate the individual steps of the algorithm into computer language code that the computer can understand</li>
</ol>
<h2 data-sourcepos="15:1-17:0">
    <a id="user-content-prepare-yourself" class="anchor" href="#prepare-yourself" aria-hidden="true"></a>Prepare yourself
</h2>
<p data-sourcepos="18:1-18:78">You may prepare yourself by reviewing the last years slides from this session.</p>
<ul data-sourcepos="20:1-21:0">
    <li data-sourcepos="20:1-21:0">
        <a href="https://hkr.instructure.com/courses/3659/files/616033?wrap=1" target="_blank" rel="noopener">Lecture 10 - Introduction to Algorithms</a>
    </li>
</ul>
<p data-sourcepos="22:1-22:163">You should select and use a tool for drawing flowchart diagrams. These are tools that aid in creating flowcharts. Select one of them or another of your own choice.</p>
<ul data-sourcepos="24:1-28:0">
    <li data-sourcepos="24:1-25:0">
        <p data-sourcepos="24:3-24:137">
            <a href="https://app.diagrams.net" target="_blank" rel="noopener">App.diagrams.net</a> is an online drawing tool where you can draw flowcharts without installing an application.
        </p>
    </li>
    <li data-sourcepos="26:1-28:0">
        <p data-sourcepos="26:3-26:143">
            <a href="http://dia-installer.de/" target="_blank" rel="noopener">Dia Diagram Editor</a> is a desktop tol to be installed at your computer. It is free, open source and cross platform.
        </p>
        <ul data-sourcepos="27:5-28:0">
            <li data-sourcepos="27:5-28:0">This is how a <a href="http://dia-installer.de/shapes/Flowchart/index.html.en" target="_blank" rel="noopener">flowchart can look like in Dia</a>.</li>
        </ul>
    </li>
</ul>
<p data-sourcepos="29:1-29:105">You can also write on paper, but you should take the opportunity to adapt a tool for drawing flow charts.</p>
<h2 data-sourcepos="33:1-35:0">
    <a id="user-content-recorded-lecture" class="anchor" href="#recorded-lecture" aria-hidden="true"></a>Recorded lecture
</h2>
<p data-sourcepos="36:1-36:60">There will be a prerecorded lecture which you should review.</p>
<p data-sourcepos="38:1-38:80">The lecture provides an overview of alternate ways of designing your algorithms.</p>
<p>The Swedish version.</p>
<p>
    <iframe style="width: 640px; height: 480px;" src="https://www.youtube.com/embed/lCmKXRdvReY?feature=oembed&amp;rel=0" width="640" height="480" allowfullscreen="allowfullscreen" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allow="geolocation *; microphone *; camera *; midi *; encrypted-media *; autoplay *"></iframe>
</p>
<p>The English version.</p>
<p>
    <iframe style="width: 640px; height: 480px;" src="https://www.youtube.com/embed/ZMDugJHQXnI?feature=oembed&amp;rel=0" width="640" height="480" allowfullscreen="allowfullscreen" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allow="geolocation *; microphone *; camera *; midi *; encrypted-media *; autoplay *"></iframe>
</p>
<p>You can review <a class="instructure_file_link inline_disabled" href="https://mikael-roos.gitlab.io/c-programming-exercise/lecture/L03-algorithms/slide.html" target="_blank" rel="noopener">the slides used in the lecture</a>.</p>
<h2 data-sourcepos="44:1-46:0">
    <a id="user-content-read-study" class="anchor" href="#read-study" aria-hidden="true"></a>Read &amp; Study
</h2>
<p data-sourcepos="47:1-47:63">You should read up on the following to complement the lectures.</p>
<ul data-sourcepos="49:1-60:0">
    <li data-sourcepos="49:1-50:0">
        <p data-sourcepos="49:3-49:152">View the video <a href="https://www.youtube.com/watch?v=4G0EYfrrDT8" target="_blank" rel="noopener">"Programming Basics #36 Writing Pseudocode"</a> (3 min) to see how one can write pseudocode.</p>
    </li>
    <li data-sourcepos="51:1-52:0">
        <p data-sourcepos="51:3-51:155">View the video <a href="https://www.youtube.com/watch?v=h736bEHkT_Y" target="_blank" rel="noopener">"Flow Chart Example"</a> (12 min) to see how one can break down an algorithm using flow charts.</p>
    </li>
    <li data-sourcepos="53:1-54:0">
        <p data-sourcepos="53:3-53:163">View the video <a href="https://www.youtube.com/watch?v=QsKkG9gWxF4" target="_blank" rel="noopener">"Algorithms: Top Down Design"</a> (5 min) to see how one can break down an algorithm using flow charts.</p>
    </li>
    <li data-sourcepos="55:1-56:0">
        <p data-sourcepos="55:3-55:158">Read the article "<a href="https://math.berkeley.edu/~gmelvin/polya.pdf" target="_blank" rel="noopener">Polya&rsquo;s Problem Solving Techniques</a>" on how one can think when trying to solve a problem.</p>
    </li>
    <li data-sourcepos="55:1-56:0">Roughly review the article "<a class="instructure_file_link inline_disabled" href="http://users.csc.calpoly.edu/~jdalbey/SWE/pdl_std.html" target="_blank" rel="noopener">Pseudocode Standard</a>" on structures, constructs and examples.</li>
    <li data-sourcepos="57:1-60:0">
        <p data-sourcepos="57:3-57:218">Read the article "<a href="https://hkr.instructure.com/courses/3659/files/616034?wrap=1" target="_blank" rel="noopener">A Complete Example of Program Development Using Top-Down Design</a>" to get an example on designing using the workflow of top-down design.</p>
    </li>
</ul>
<h2 data-sourcepos="61:1-63:0">
    <a id="user-content-resources" class="anchor" href="#resources" aria-hidden="true"></a>Resources
</h2>
<p data-sourcepos="64:1-64:67">The following resources might be helpful and provide more insights.</p>
<ul data-sourcepos="66:1-70:0">
    <li data-sourcepos="66:1-66:67">
        <a class="instructure_file_link inline_disabled" href="https://en.wikipedia.org/wiki/Top-down_and_bottom-up_design" target="_blank" rel="noopener">Wikipedia on Top-down and bottom-up design</a>
    </li>
    <li data-sourcepos="66:1-66:67">
        <a href="https://en.wikipedia.org/wiki/Flowchart" target="_blank" rel="noopener">Wikipedia on Flowchart</a>
    </li>
    <li data-sourcepos="67:1-70:0">
        <a href="https://en.wikipedia.org/wiki/Pseudocode" target="_blank" rel="noopener">Wikipedia on Pseudocode</a>
    </li>
</ul>
<h2 data-sourcepos="71:1-73:0">
    <a id="user-content-quiz" class="anchor" href="#quiz" aria-hidden="true"></a>Quiz
</h2>
<p data-sourcepos="74:1-74:69">You may take the quiz as a self test to see how much you have learnt.</p>
<h2 data-sourcepos="78:1-80:0">
    <a id="user-content-exercise" class="anchor" href="#exercise" aria-hidden="true"></a>Exercise
</h2>
<p data-sourcepos="81:1-81:40">The exercise will train you for the lab.</p>
<p data-sourcepos="83:1-83:174">When you have studied the material above you should move on to carry out the exercise "<a href="https://hkr.instructure.com/courses/3659/files/616066?wrap=1" target="_blank" rel="noopener">Exercise 3 Algorithms</a>".</p>
<h2 data-sourcepos="87:1-89:0">
    <a id="user-content-lab" class="anchor" href="#lab" aria-hidden="true"></a>Lab
</h2>
<p data-sourcepos="90:1-90:162">You should now be able to carry out the lab "<a href="https://hkr.instructure.com/courses/3659/pages/lab-3-algorithm-development-c" target="_blank" rel="noopener" data-api-endpoint="https://hkr.instructure.com/api/v1/courses/3659/pages/lab-3-algorithm-development-c" data-api-returntype="Page">Lab 3 &ndash; Algorithm Development (C)</a>".</p>
<p data-sourcepos="92:1-92:81">Write a lab report and submit it as pad together with a zip-archive of your code.</p>
