<h1 data-sourcepos="1:1-3:0">L09 - Introduction to programming with C</h1>
<p data-sourcepos="4:1-4:154">This is the first session of the part with programming in C. Here you will learn and practice the basics of the C programming language and its constructs.</p>
<p data-sourcepos="6:1-6:154">This part of the course is held by Mikael Roos. Send me a message on Canvas if you have any questions or thoughts on the setup or material in this C part.</p>
<p data-sourcepos="6:1-6:154">&nbsp;</p>
<h2 data-sourcepos="10:1-12:0">
    <a id="user-content-prepare-yourself" class="anchor" href="#prepare-yourself" aria-hidden="true"></a>Prepare yourself
</h2>
<p data-sourcepos="13:1-13:66">You can do the following steps to prepare youreself for this part.</p>
<ol data-sourcepos="15:1-16:0">
    <li data-sourcepos="15:1-16:0">
        <a href="https://hkr.instructure.com/courses/3659/pages/lab-environment-for-c" target="_blank" rel="noopener" data-api-endpoint="https://hkr.instructure.com/api/v1/courses/3659/pages/lab-environment-for-c" data-api-returntype="Page">Install a lab environment</a> so you can compile your C programs.
    </li>
</ol>
<p data-sourcepos="17:1-17:78">You may prepare yourself by reviewing the last years slides from this session.</p>
<ul data-sourcepos="19:1-23:0">
    <li data-sourcepos="19:1-19:110">
        <a href="https://hkr.instructure.com/courses/3659/files/616039?wrap=1" target="_blank" rel="noopener">Lecture 9-1 Introduction to Programming in C</a>
    </li>
    <li data-sourcepos="20:1-23:0">
        <a href="https://hkr.instructure.com/courses/3659/files/616040?wrap=1" target="_blank" rel="noopener">Lecture 11-2 C Program Structure</a>
    </li>
</ul>
<p>&nbsp;</p>
<h2 data-sourcepos="24:1-26:0">
    <a id="user-content-introduction-and-welcome" class="anchor" href="#introduction-and-welcome" aria-hidden="true"></a>Introduction and Welcome
</h2>
<p data-sourcepos="27:1-27:66">We will start with a meeting in Zoom on February 22 between 10-12.</p>
<ul data-sourcepos="29:1-30:0">
    <li data-sourcepos="29:1-30:0">
        <a href="https://hkr-se.zoom.us/j/4244201337" target="_blank" rel="noopener">https://hkr-se.zoom.us/j/4244201337</a>
    </li>
</ul>
<p data-sourcepos="31:1-31:55">I will provide an overview of the C part of the course.</p>
<p data-sourcepos="27:1-27:66">You can review the setup for this course part in the document <a title="Overview of course part - Programming with C " href="https://hkr.instructure.com/courses/3659/pages/overview-of-course-part-programming-with-c" data-api-endpoint="https://hkr.instructure.com/api/v1/courses/3659/pages/overview-of-course-part-programming-with-c" data-api-returntype="Page">Overview of course part - Programming with C.</a>
</p>
<p data-sourcepos="27:1-27:66">There were two recordings from the Zoom session, they are available at the top of the <a class="instructure_file_link inline_disabled" href="https://www.youtube.com/playlist?list=PLEtyhUSKTK3hgiVKWSktnVOz8DlYUeFBf" target="_blank" rel="noopener">course playlist</a>, labeled as follows:</p>
<ul>
    <li data-sourcepos="27:1-27:66">
        <a class="instructure_file_link inline_disabled" href="https://www.youtube.com/watch?v=_OAS6zdKzjc&amp;list=PLEtyhUSKTK3hgiVKWSktnVOz8DlYUeFBf&amp;index=1" target="_blank" rel="noopener">Introduction to the course part on C programming (recording from Zoom, part 1/2) (with Mikael)</a>
    </li>
    <li data-sourcepos="27:1-27:66">
        <a class="instructure_file_link inline_disabled" href="https://www.youtube.com/watch?v=7AjqHplrdXc&amp;list=PLEtyhUSKTK3hgiVKWSktnVOz8DlYUeFBf&amp;index=2" target="_blank" rel="noopener">
            <span>Introduction to the course part on C programming (recording from Zoom, part 2/2) (with Mikael)</span>
        </a>
    </li>
</ul>
<p data-sourcepos="27:1-27:66">&nbsp;</p>
<h2 data-sourcepos="35:1-37:0">
    <a id="user-content-recorded-lecture" class="anchor" href="#recorded-lecture" aria-hidden="true"></a>Recorded lecture
</h2>
<p data-sourcepos="38:1-38:60">There will be a prerecorded lecture which you should review.</p>
<p data-sourcepos="40:1-40:156">This lecture provides an overview and introduction to the C language. It also provides an introduction in how to write and compile your first programs in C.</p>
<p>The Swedish version.</p>
<p>
    <iframe style="width: 640px; height: 480px;" src="https://www.youtube.com/embed/PnNYinh5Xyg?feature=oembed&amp;rel=0" width="640" height="480" allowfullscreen="allowfullscreen" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allow="geolocation *; microphone *; camera *; midi *; encrypted-media *; autoplay *"></iframe>
</p>
<p>The English version.</p>
<p>
    <iframe style="width: 640px; height: 480px;" src="https://www.youtube.com/embed/_GSTXOGy2A0?feature=oembed&amp;rel=0" width="640" height="480" allowfullscreen="allowfullscreen" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allow="geolocation *; microphone *; camera *; midi *; encrypted-media *; autoplay *"></iframe>
</p>
<p>You can review <a class="instructure_file_link inline_disabled" href="https://mikael-roos.gitlab.io/c-programming-exercise/lecture/L02-intro-to-c-programming/slide.html" target="_blank" rel="noopener">the slides used in the lecture</a>.</p>
<p>&nbsp;</p>
<h2 data-sourcepos="35:1-37:0">Homework &amp; code samples</h2>
<p data-sourcepos="38:1-38:60">There is a set of <a class="instructure_file_link inline_disabled" href="https://gitlab.com/mikael-roos/c-programming-exercise/-/tree/master/src/L02" target="_blank" rel="noopener">useful code samples and an instruction for Homework</a> you should do to ensure that you understand the basics of the matter discussed in the lecture.</p>
<p data-sourcepos="40:1-40:156">&nbsp;</p>
<h2 data-sourcepos="46:1-48:0">
    <a id="user-content-read-study" class="anchor" href="#read-study" aria-hidden="true"></a>Read &amp; Study
</h2>
<p data-sourcepos="49:1-49:63">You should read up on the following to complement the lectures.</p>
<ul data-sourcepos="51:1-57:0">
    <li data-sourcepos="51:1-53:0">
        <p data-sourcepos="51:3-51:80">Read and study the following chapter in the book "The C programming language".</p>
        <ul data-sourcepos="52:5-53:0">
            <li data-sourcepos="52:5-53:0">Ch 1 - A Tutorial Introduction</li>
        </ul>
    </li>
    <li data-sourcepos="54:1-57:0">
        <p data-sourcepos="54:3-54:340">In the <a href="https://www.youtube.com/playlist?list=PL6gx4Cwl9DGAKIXv8Yr6nhGJ9Vlcjyymq" target="_blank" rel="noopener">YouTube playlist "C Programming Tutorials"</a> there are a couple of videos showing you the basics you need to familiarize yourself with the C language. Start viewing the first three videos to evaluate if this videoserie can be a good resource for learning C.</p>
    </li>
</ul>
<p>&nbsp;</p>
<h2 data-sourcepos="58:1-60:0">
    <a id="user-content-resources" class="anchor" href="#resources" aria-hidden="true"></a>Resources
</h2>
<p data-sourcepos="61:1-61:67">The following resources might be helpful and provide more insights.</p>
<ul data-sourcepos="63:1-67:0">
    <li data-sourcepos="63:1-63:95">
        <a href="https://en.wikipedia.org/wiki/C_(programming_language)" target="_blank" rel="noopener">Wikipedia on C programming language</a>
    </li>
    <li data-sourcepos="64:1-67:0">
        <a href="https://en.wikipedia.org/wiki/The_C_Programming_Language" target="_blank" rel="noopener">Wikipedia on the book "The C Programming Language"</a>
    </li>
</ul>
<p>&nbsp;</p>
<h2 data-sourcepos="68:1-70:0">
    <a id="user-content-quiz" class="anchor" href="#quiz" aria-hidden="true"></a>Quiz
</h2>
<p data-sourcepos="71:1-71:69">You should now take the quiz as a self test to see how much you have learnt.</p>
<p data-sourcepos="71:1-71:69">&nbsp;</p>
