<h1 data-sourcepos="1:1-3:0">Overview of course part - Programming with C</h1>
<p data-sourcepos="4:1-4:60">This is an overview of the course part "Programming with C".</p>
<p data-sourcepos="6:1-6:39">This labs in this course part is worth 3 hp/credits.</p>
<p data-sourcepos="6:1-6:39">Half of the written hall exam (2.5 hp/credits of 5 hp/credits) will be related to this course part.&nbsp;</p>
<p data-sourcepos="6:1-6:39">&nbsp;</p>
<h2 data-sourcepos="10:1-12:0">
    <a id="user-content-lectures" class="anchor" href="#lectures" aria-hidden="true"></a>Lectures
</h2>
<p data-sourcepos="13:1-13:36">The following lectures are included.</p>
<ul data-sourcepos="15:1-23:0">
    <li data-sourcepos="15:1-15:42">
        <a title="L09 - Introduction to programming with C" href="https://hkr.instructure.com/courses/3659/pages/l09-introduction-to-programming-with-c" data-api-endpoint="https://hkr.instructure.com/api/v1/courses/3659/pages/l09-introduction-to-programming-with-c" data-api-returntype="Page">L09 - Introduction to programming with C (with introduction to this course part)</a>
    </li>
    <li data-sourcepos="16:1-16:50">
        <a title="L10 - Algorithms, representation and development" href="https://hkr.instructure.com/courses/3659/pages/l10-algorithms-representation-and-development" data-api-endpoint="https://hkr.instructure.com/api/v1/courses/3659/pages/l10-algorithms-representation-and-development" data-api-returntype="Page">L10 - Algorithms, representation and development</a>
    </li>
    <li data-sourcepos="17:1-17:15">
        <a title="L11 - Basic C" href="https://hkr.instructure.com/courses/3659/pages/l11-basic-c" data-api-endpoint="https://hkr.instructure.com/api/v1/courses/3659/pages/l11-basic-c" data-api-returntype="Page">L11 - Basic C</a>
    </li>
    <li data-sourcepos="18:1-18:21">
        <a title="L12 - Control flow" href="https://hkr.instructure.com/courses/3659/pages/l12-control-flow" data-api-endpoint="https://hkr.instructure.com/api/v1/courses/3659/pages/l12-control-flow" data-api-returntype="Page">L12 - Control Flows</a>
    </li>
    <li data-sourcepos="19:1-19:17">
        <a title="L13 - Functions" href="https://hkr.instructure.com/courses/3659/pages/l13-functions" data-api-endpoint="https://hkr.instructure.com/api/v1/courses/3659/pages/l13-functions" data-api-returntype="Page">L13 - Functions</a>
    </li>
    <li data-sourcepos="20:1-20:36">
        <a title="L14 - Pointers, arrays and strings" href="https://hkr.instructure.com/courses/3659/pages/l14-pointers-arrays-and-strings" data-api-endpoint="https://hkr.instructure.com/api/v1/courses/3659/pages/l14-pointers-arrays-and-strings" data-api-returntype="Page">L14 - Pointers, arrays and strings</a>
    </li>
    <li data-sourcepos="21:1-21:29">
        <a title="L19 - Structures and linked lists" href="https://hkr.instructure.com/courses/3659/pages/l19-structures-and-linked-lists" data-api-endpoint="https://hkr.instructure.com/api/v1/courses/3659/pages/l19-structures-and-linked-lists" data-api-returntype="Page">L19 - Structures-structures</a>
    </li>
    <li data-sourcepos="22:1-23:0">
        <a title="L20 - File I/O" href="https://hkr.instructure.com/courses/3659/pages/l20-file-i-slash-o" data-api-endpoint="https://hkr.instructure.com/api/v1/courses/3659/pages/l20-file-i-slash-o" data-api-returntype="Page">L20 - File I/O</a>
    </li>
</ul>
<p data-sourcepos="35:1-35:123">The lectures are in <a class="instructure_file_link inline_disabled" href="https://schema.hkr.se/setup/jsp/Schema.jsp?startDatum=2021-02-22&amp;slutDatum=2021-07-01&amp;sokMedAND=false&amp;sprak=SV&amp;resurser=k.DT131C%202021%2003%2050%20DAG%20NML%20en-%2C" target="_blank" rel="noopener">the schedule</a>.</p>
<p data-sourcepos="35:1-35:123">Each lecture has a landing page with details on the topic for the lecture, slides and prerecorded or link to live lectures.</p>
<p data-sourcepos="37:1-37:73">Each lecture has reading guidelines and some have noted extra resources.</p>
<p data-sourcepos="37:1-37:73">The parts brought up the lecture will partly form the basis for the the written hall exam. So working through these will in other words help you practice on the final exam.</p>
<p data-sourcepos="37:1-37:73">&nbsp;</p>
<h2 data-sourcepos="41:1-43:0">
    <a id="user-content-quiz" class="anchor" href="#quiz" aria-hidden="true"></a>
</h2>
<h2 data-sourcepos="41:1-43:0">Homework &amp; code samples</h2>
<p>Each lecture might have homework that you should carry out to practice and train the subject.</p>
<p>The homework tasks and the code samples will form the base for the written hall exam. So working through these will in other words help you practice on the final exam.</p>
<p>&nbsp;</p>
<h2 data-sourcepos="41:1-43:0">Quiz</h2>
<p data-sourcepos="44:1-44:234">Each lecture has a quiz you may take to check your knowledge. You should first take the lecture and do the studying, then you can take the quiz. The quizzes are mandatory to pass. You can retry as many times as you wish for each quiz.</p>
<p data-sourcepos="44:1-44:234">The quiz&nbsp; will partly form the base for the written hall exam. So working through these will in other words help you practice on the final exam.</p>
<p data-sourcepos="44:1-44:234">&nbsp;</p>
<h2 data-sourcepos="48:1-50:0">
    <a id="user-content-exercises" class="anchor" href="#exercises" aria-hidden="true"></a>Exercises
</h2>
<p data-sourcepos="51:1-51:183">Before each lab there will be an exercise where you shall train and practice the items to be carried out the lab. By doing these exercises you will learn the essentials of this course part, and you will be prepared for the lab.</p>
<ul>
    <li data-sourcepos="51:1-51:183">
        <a class="instructure_file_link inline_disabled" href="https://hkr.instructure.com/courses/3659/files/616066" target="_blank" rel="noopener">E03 - Exercise on Algorithm Development (after L10)</a>
    </li>
    <li data-sourcepos="51:1-51:183">
        <a class="instructure_file_link inline_disabled" href="https://hkr.instructure.com/courses/3659/files/616067" target="_blank" rel="noopener">E04 - Exercise on Structured Program Development (after L14)</a>
    </li>
    <li data-sourcepos="51:1-51:183">
        <span style="text-decoration: line-through;">E06 - Exercise on Data Structures and File I/O (after L20)</span>
    </li>
</ul>
<p data-sourcepos="55:1-55:99">There are scheduled events when there is a short introduction to each exercise and when you also can ask questions and get tutoring for the exercises. These will be held in Zoom.</p>
<ul data-sourcepos="57:1-60:0">
    <li data-sourcepos="57:1-60:0">
        <a href="https://hkr-se.zoom.us/j/4244201337" target="_blank" rel="noopener">https://hkr-se.zoom.us/j/4244201337</a>
    </li>
</ul>
<p>&nbsp;</p>
<h2 data-sourcepos="61:1-63:0">
    <a id="user-content-labs" class="anchor" href="#labs" aria-hidden="true"></a>Labs
</h2>
<p data-sourcepos="64:1-64:57">There are three lab to complete to pass this course part.</p>
<ul data-sourcepos="66:1-69:0">
    <li data-sourcepos="66:1-66:47">
        <a title="Lab 3 &ndash; Algorithm Development (C)" href="https://hkr.instructure.com/courses/3659/pages/lab-3-algorithm-development-c" data-api-endpoint="https://hkr.instructure.com/api/v1/courses/3659/pages/lab-3-algorithm-development-c" data-api-returntype="Page">Lab 3 - Algorithm Development (C) (after L10)</a>
    </li>
    <li data-sourcepos="67:1-67:56">
        <a class="instructure_file_link inline_disabled" href="https://hkr.instructure.com/courses/3659/files/616031" target="_blank" rel="noopener" data-api-endpoint="https://hkr.instructure.com/api/v1/courses/3659/pages/lab-3-algorithm-development-c" data-api-returntype="Page">Lab 4 - Structured Program Development (C) (after L14)</a>
    </li>
    <li data-sourcepos="68:1-69:0">
        <a title="Lab 6 &ndash;Data Structures and File I/O (C)" href="https://hkr.instructure.com/courses/3659/pages/lab-6-data-structures-and-file-i-slash-o-c" data-api-endpoint="https://hkr.instructure.com/api/v1/courses/3659/pages/lab-6-data-structures-and-file-i-slash-o-c" data-api-returntype="Page">Lab 6 - Data Structures and File I/O (C) (after L20)</a>
    </li>
</ul>
<p data-sourcepos="70:1-70:118">Each lab is graded U (fail) or G (pass). When graded U you will usually get a notice on what you should do to reach G.</p>
<p data-sourcepos="72:1-72:94">There are scheduled events when there is an introduction to each lab and at that time you may also ask questions about the lab and get tutoring. These will be held in Zoom.</p>
<ul data-sourcepos="74:1-77:0">
    <li data-sourcepos="74:1-77:0">
        <a href="https://hkr-se.zoom.us/j/4244201337" target="_blank" rel="noopener">https://hkr-se.zoom.us/j/4244201337</a>
    </li>
</ul>
<p>&nbsp;</p>
<h2 data-sourcepos="78:1-80:0">
    <a id="user-content-ladok" class="anchor" href="#ladok" aria-hidden="true"></a>
</h2>
<h2 data-sourcepos="78:1-80:0">Written hall exam</h2>
<p>The course ends with a written hall exam. It will partly cover the C programming part and partly the embedded systems part.</p>
<p>I will handle the C programming part. It will (most likely) be a combination of the following.</p>
<ol>
    <li>Quiz questions related to theory and practical issues for C programming.</li>
    <li>Programming exercises to be done with very little time.</li>
</ol>
<p>To pass the written exam, for the C part, you should focus on:</p>
<ul>
    <li>Roughly review the slides from last year</li>
    <li>Review the recorded lectures and their slides</li>
    <li>Do the homework for each lecture</li>
</ul>
<p>There might be a dugga/midterm where you - if you pass it - will earn points that you can use to help you pass the written hall exam (for the C part).&nbsp;</p>
<p>&nbsp;</p>
<h2 data-sourcepos="78:1-80:0">Tutoring and teacher assistance</h2>
<p>You can send questions to me (Mikael) using the following channels.</p>
<ul>
    <li>Canvas messages.</li>
    <li>Email to <a href="mailto:mikael.t.h.roos@gmail.com" target="_blank" rel="noopener">mikael.t.h.roos@gmail.com</a> (I do not use extmiro@hkr.se as email).</li>
    <li>Discord server for the C course part (here is the invitation to the server so you can join it: <a class="anchor-3Z-8Bb anchorUnderlineOnHover-2ESHQB" title="https://discord.gg/T87CeefASE" role="button" href="https://discord.gg/T87CeefASE" target="_blank" rel="noopener">https://discord.gg/T87CeefASE</a>)</li>
    <li>As the "forum" I will use the GitLab issues connected to the exercises repo. This will be the general area for the Questions &amp; Answer.
        <ul>
            <li>The exercise repo:
                <br />
                <a href="https://gitlab.com/mikael-roos/c-programming-exercise" target="_blank" rel="noopener">https://gitlab.com/mikael-roos/c-programming-exercise</a>
            </li>
            <li>A Questions &amp; Answers area to ease access to the issues:
                <br />
                <a href="https://gitlab.com/mikael-roos/c-programming-exercise/-/tree/master/questions-and-answers" target="_blank" rel="noopener">https://gitlab.com/mikael-roos/c-programming-exercise/-/tree/master/questions-and-answers</a>
            </li>
            <li>Issues:
                <br />
                <a href="https://gitlab.com/mikael-roos/c-programming-exercise/-/issues" target="_blank" rel="noopener">https://gitlab.com/mikael-roos/c-programming-exercise/-/issues</a>
            </li>
        </ul>
    </li>
</ul>
<p>These channels are in addition to the scheduled Zoom sessions for Exercises and Labs.</p>
<p>&nbsp;</p>
<h2 data-sourcepos="78:1-80:0">Ladok</h2>
<p>This is about the formal registration of credits/hp into Ladok.</p>
<p>&nbsp;</p>
<h3>Lab</h3>
<p data-sourcepos="81:1-81:74">This course part relates to the following Ladok moment worth 3 hp/credits.</p>
<ul data-sourcepos="83:1-86:0">
    <li data-sourcepos="83:1-84:0">
        <p data-sourcepos="83:3-83:156">(Swedish) Delprov 2 (3 hp) C-programmering, laborationer. Individuella skriftliga rapporter och muntliga redovisningar. Betygsgraderna U och G till&auml;mpas.</p>
    </li>
    <li data-sourcepos="85:1-86:0">
        <p data-sourcepos="85:3-85:202">(English) Part 2 (3 credits) C Programming, Labs are assessed through individually performed laboratory assignments, followed with written and oral presentation of reports. Grades U and G are applied.</p>
    </li>
</ul>
<p data-sourcepos="87:1-87:79">The grade is set when the labs are approved and when the quizzes are completed.</p>
<p data-sourcepos="87:1-87:79">&nbsp;</p>
<h3>Written hall exam</h3>
<p>This course part also relates to half of the hall exam. The other half is related to the embedded systems part.</p>
<ul>
    <li>
        <p>(Swedish) Delprov 1 (5 hp) Inbyggda system, salstentamen. L&auml;randem&aring;l 1-3, 5-7 och 12-14 examineras. Betygsgraderna U, 3, 4 och 5 till&auml;mpas.</p>
    </li>
    <li>(English) Part 1 (5 credits) Embedded Systems, Hall Exam. Learning outcomes 1-3, 5-7, 12-14 are assessed through individual written exam. Grades U, 3, 4 och 5 are applied.</li>
</ul>
